<mat-toolbar>
  @if (isTinyDisplay()) {
    <ng-container>
      <mat-toolbar-row>
        <button mat-icon-button aria-label="Open navigation menu" (click)="drawer.toggle()">
          <mat-icon>
            @if (drawer.opened) {
              close
            } @else {
              menu
            }
          </mat-icon>
        </button>
        <span>Network Administration</span>
      </mat-toolbar-row>
    </ng-container>
  } @else {
    <ng-container>
      <mat-toolbar-row>
        <span>Self-Service Network Administration Panel</span>
        <span class="spacer">&nbsp;</span>
        <button
          mat-icon-button
          [attr.aria-label]="'Switch to ' + (prefersDarkTheme() ? 'light mode' : 'dark mode')"
          [matTooltip]="'Switch to ' + (prefersDarkTheme() ? 'light mode' : 'dark mode')"
          matTooltipPosition="before"
          (click)="toggleDarkMode()">
          <mat-icon>
            {{ prefersDarkTheme() ? "light_mode" : "dark_mode" }}
          </mat-icon>
        </button>
        @if (isAuthenticated()) {
          &nbsp;
          <button
            mat-icon-button
            aria-label="Log out"
            [matTooltip]="'Log out'"
            matTooltipPosition="before"
            [routerLink]="[ '/logout' ]">
            <mat-icon>logout</mat-icon>
          </button>
        }
      </mat-toolbar-row>
      @if (isAuthenticated()) {
        <mat-toolbar-row>
          <nav mat-tab-nav-bar mat-align-tabs="center" [tabPanel]="tabPanel">
            <a [routerLink]="['/']" mat-tab-link [active]="currentRouteCategory() == RouteCategory.LANDING"><mat-icon>home</mat-icon>&nbsp;Landing</a>
            <a [routerLink]="['/dhcp']" href="#" mat-tab-link [active]="currentRouteCategory() == RouteCategory.DHCP"><mat-icon>lan</mat-icon>&nbsp;DHCP</a>
            <a [routerLink]="['/wifi']" href="#" mat-tab-link [active]="currentRouteCategory() == RouteCategory.WIFI"><mat-icon>wifi</mat-icon>&nbsp;Wi-Fi</a>
            <a [routerLink]="['/user']" href="#" mat-tab-link [active]="currentRouteCategory() == RouteCategory.USER_SETTINGS"><mat-icon>account_circle</mat-icon>&nbsp;User settings</a>
          </nav>
        </mat-toolbar-row>
      }
    </ng-container>
  }

</mat-toolbar>

<div class="loading-indicator">
  <mat-progress-bar mode="query" *ngIf="isLoading()"></mat-progress-bar>
  &nbsp;
</div>

<mat-drawer-container [hasBackdrop]="true" class="nav-drawer" autosize>
  <mat-drawer #drawer [mode]="'over'">
    <mat-nav-list>
      @if (isAuthenticated()) {
        <a
          [routerLink]="['/']"
          (click)="drawer.close()"
          mat-list-item
          matRipple
          [activated]="currentRouteCategory() == RouteCategory.LANDING">
          <mat-icon matListItemIcon>home</mat-icon>
          Landing
        </a>

        <a
          [routerLink]="['/dhcp']"
          (click)="drawer.close()"
          mat-list-item
          matRipple
          [activated]="currentRouteCategory() == RouteCategory.DHCP">
          <mat-icon matListItemIcon>lan</mat-icon>
          DHCP
        </a>

        <a
          [routerLink]="['/wifi']"
          (click)="drawer.close()"
          mat-list-item
          matRipple
          [activated]="currentRouteCategory() == RouteCategory.WIFI">
          <mat-icon matListItemIcon>wifi</mat-icon>
          Wi-Fi
        </a>

        <a
          [routerLink]="['/user']"
          (click)="drawer.close()"
          mat-list-item
          matRipple
          [activated]="currentRouteCategory() == RouteCategory.USER_SETTINGS">
          <mat-icon matListItemIcon>account_circle</mat-icon>
          User settings
        </a>

        <a mat-list-item (click)="toggleDarkMode()">
          <mat-icon matListItemIcon>{{ prefersDarkTheme() ? "light_mode" : "dark_mode" }}</mat-icon>
          Switch to {{ prefersDarkTheme() ? "light mode" : "dark mode" }}
        </a>

        <a
          [routerLink]="['/logout']"
          (click)="drawer.close()"
          mat-list-item
          matRipple>
          <mat-icon matListItemIcon>logout</mat-icon>
          Log out
        </a>
      } @else {
        <a mat-list-item matRipple (click)="toggleDarkMode()">
          <mat-icon matListItemIcon>{{ prefersDarkTheme() ? "light_mode" : "dark_mode" }}</mat-icon>
          Switch to {{ prefersDarkTheme() ? "light mode" : "dark mode" }}
        </a>
      }
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-tab-nav-panel #tabPanel>
      <div [ngClass]="{ 'fixed-width': !this.isTinyDisplay(), 'tiny-padding': this.isTinyDisplay() }">
        <router-outlet></router-outlet>
      </div>
      <div class="footer">
        <mat-divider></mat-divider>
        <p>
          <mat-icon>copyright</mat-icon> 2025 Emzi0767. Released and available under the terms of AGPL-3.0 or (at your option) any later version.
        </p>
        <p>
          <a mat-button href="https://gitlab.emzi0767.dev/Emzi0767/network-self-service/" target="_blank" title="Source code">Source code is available on Emzi's GitLab</a>
        </p>
      </div>
    </mat-tab-nav-panel>
  </mat-drawer-content>
</mat-drawer-container>

