:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

span.spacer {
  flex: 1 0 auto;
}

.nav-drawer {
  flex: 1 0 auto;
}

mat-drawer {
  padding: 1rem 0;

  mat-nav-list {
    margin: 0 1rem;
  }
}

.fixed-width {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

mat-toolbar-row:nth-child(2) {
  align-items: end;

  & > nav {
    width: 100%;
  }
}
